@font-face {
    font-family: 'my_font';
    src: url('fonts\Tajawal-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

.pdf_image {
    width: 100%;
    position: absolute!important;
    top: 0px;
    right: 0px;
}

.pdf-data {
    z-index: 5;
}

.w3-display-topright {
    position: absolute!important;
    top: 0px;
    right: 0px;
}

.pdf_image {
    padding: 0px!important;
}

*,
h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    font-family: 'Tajawal';
    direction: rtl;
}
